<html>
<head>
  <title>Grio Challenge</title>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body ng-app="wordFinder" ng-controller="mainController">
  <div class="overlay" ng-class="{'loading': loading}">
    <div ng-class="{'loading-text': loading}"></div>
  </div>
  <div class="wordfinder-title">
    <h1>Search Words</h1>
  </div>
  <div class="container">
    <form name="wordForm" ng-submit="wordForm.$valid && getWord()">
      <div class="radio">
        <label>
          <input type="radio" ng-model="searchBy" value="word">
          <span>Search by word</span>
        </label>
        <label>
          <input type="radio" ng-model="searchBy" value="synonym">
          <span>Search by word synonyms</span>
        </label>
      </div>
      <div>
        <input type="text" name="wordFormInput" placeholder="Search books" ng-model="word" required>
        <button class="submit-but" type="submit" value="Submit">
          Search Word
        </button>
      </div>
    </form>
    <table class="matched-table">
      <thead>
      <tr>
        <td class="matched-table-head">
          File Name
        </td>
        <td class="matched-table-head">
          Book Title
        </td>
        <td class="matched-table-head">
          Matched Sentence
        </td>
      </tr>
      </thead>
      <tbody ng-repeat="match in books">
        <tr ng-repeat="sent in match.matches track by $index">
          <td ng-cloak>
            {{ match.file }}
          </td>
          <td ng-cloak>
            {{ match.title }}
          </td>
          <td ng-cloak>
            <div ng-bind-html="highlight(sent)"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</html>